* {
	padding: 0;
	margin: 0;
	border: 0;
	}

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 5px;
        font-family: 'Noto Serif NP Hmong', serif;
        
    }

body {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #9ea8a8;
    font-family: 'Source Sans Pro', sans-serif;
}


.container {
    width: 900px;
    background-color: #477968;
    margin-bottom: 30px; 
}

.list {
    list-style: none;
    margin: 15px 0px 1px 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
h4 span {
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
}

.nav-item, .nav-link {
    text-decoration: none;
    margin-right: 20px;
}

.header-container {
    padding: 50px 50px 30px 70px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.contact-Info {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

.contact-item {
    margin-right: 20px;
}
.contact-item:hover {
    scale: 1.05;
    transition: 1s;
}

h1 {
    text-transform: uppercase;
}

h2 {
    margin-top: 10px;
}

.portfolio-Photo {
    width: 200px;
    border-radius: 200px;
}
.summary {
    margin: 0px;
}

.contactIcon {
    width: 25px;
    height: 25px;
}

main {
    background-color: aliceblue;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.main-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.experience {
    width: 500px;
}

h3{
    margin: 20px 0px 20px 0px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid black;
}

.technologies-list {
    line-height: 40px;
}

.stack{
    text-align: center;
}

.job-description {
    list-style-type: circle;
}

li {
font-size: 14px;
}

.list-education {
    margin: 0px;
}

.projects {
    padding-bottom: 40px;
}

.project-images {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.imageOfProject {
    width: 160px;
}

.imageOfProject:hover{
    scale: 1.05;
    transition: 1s;
}

.project-title {
    border-bottom: 0;
}

footer {
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.RS-School-logo {
    width: 100px;
}

.footerIcon {
    width: 20px;
}

footer span {
width: 100px;
text-align: right;
}